<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h1>Cars List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.year}">Year</td>
        <td th:text="${car.getColorString()}">Color</td>
    </tr>
    </tbody>
</table>

</body>
</html>